.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.tileStyle {
  width: 75px;
  height: 75px;
  background-color: white;
  color: red;

}

.calendar {
}
