.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.tileStyle {
  height: 50px;
  width: 50px;
  background-color: white;
  color: red;

}

.calendar {
}
